<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>

<body>
    <h1>INSERTAR</h1>
    <form action="" method="POST">
        {% csrf_token %} NAME: <input type="text" name="subject_name">
        <br> CATEGORY: <input type="text" name="cate">
        <br> UBICATION: <input type="text" name="ubi">
        <br> LOTE: <input type="text" name="lote">
        <br>
        <input type="submit" value="ENVIAR">
        <button type="submit">;)</button>

    </form>
    <br>
    <br>
    <br>
    <!-- <h1>EDITAR</h1>
    <form action="" method="POST">EDITAR {% csrf_token %} NAME: <input type="text" name="subject_name">
        <br> CATEGORY: <input type="text" name="cate">
        <br> UBICATION: <input type="text" name="ubi">
        <br> LOTE: <input type="text" name="lote">
        <br>
        <input type="submit" value="ENVIAR">
        <button type="submit">;)</button>
    </form> -->


</body>

</html>